div.HyperMD-header>span.cm-formatting-header-1 { font-size: 1.123rem !important; }
div.HyperMD-header>span.cm-formatting-header-2 { font-size: 0.746rem !important; }
div.HyperMD-header>span.cm-formatting-header-3 { font-size: 0.54rem !important; }
div.HyperMD-header>span.cm-formatting-header-4 { font-size: 0.39rem !important; }
div.HyperMD-header>span.cm-formatting-header-5 { font-size: 0.3rem !important; }
div.HyperMD-header>span.cm-formatting-header-6 { font-size: 0.24rem !important; }

div.HyperMD-header.cm-active>span.cm-formatting-header { margin-right: 0.75rem; }

div.HyperMD-header:not(.cm-active)>span.cm-header::before {
  display: inline-block;
  white-space: nowrap;
  word-wrap: none;
  width: auto;
  margin-right: 0.75rem;
  overflow:visible;
  font-size: 0.75rem;
  color: var(--text-muted);
}
div.HyperMD-header-1:not(.cm-active)>span.cm-header-1::before {
  content: 'H1';
}
div.HyperMD-header-2:not(.cm-active)>span.cm-header-2::before {
  content: 'H2';
}
div.HyperMD-header-3:not(.cm-active)>span.cm-header-3::before {
  content: 'H3';
}
div.HyperMD-header-4:not(.cm-active)>span.cm-header-4::before {
  content: 'H4';
}
div.HyperMD-header-5:not(.cm-active)>span.cm-header-5::before {
  content: 'H5';
}
div.HyperMD-header-6:not(.cm-active)>span.cm-header-6::before {
  content: 'H6';
}
